// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
@import 'variables';

// Colors
$primary: $blue;
$secondary: $gray;
$dark: $dark-gray;
$light: $white;

// Styles
.btn-main {
    width: 100%;
    border-radius: 2rem !important;
}

li:hover {
    background-color: $secondary;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
